@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<h1>Pizze presenti nel menu</h1>

<table>
    <tr>
        <td>0</td>
        <td>Nome</td>
        <td>Description</td>
        <td>Foto</td>
        <td>Prezzo</td>
    </tr>
    <tr>
        <td>1</td>
        <td class="name">Pizza Diavola</td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="image"><img class="post-link-image" src="https://picsum.photos/id/237/200/300"></td>
        <td class="price">4.50 euro</td>
    </tr>
    <tr>
        <td>2</td>
        <td class="name">Pizza Capricciosa</td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="image"><img class="post-link-image" src="https://picsum.photos/id/237/200/300"></td>
        <td class="price">6.80 euro</td>
    </tr>
    <tr>
        <td>3</td>
        <td class="name">Pizza Marinara</td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="image"><img class="post-link-image" src="https://picsum.photos/id/237/200/300"></td>
        <td class="price">5 euro</td>
    </tr>
    <tr>
        <td>4</td>
        <td class="name">Pizza Fumè</td>
        <td class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!</td>
        <td class="image"><img class="post-link-image" src="https://picsum.photos/id/237/200/300"></td>
        <td class="price">5.50 euro</td>
    </tr>
</table>